%h1
  Login
.uk-form
  = form_tag @sessions do
    %fieldset
      .uk-form-row
        = text_field_tag :email, nil, placeholder: "Email"
      .uk-form-row
        = text_field_tag :pin, nil, placeholder: "PIN"
      .uk-form-row
        = submit_tag "Login", class: "uk-button"
