%h1
  Request PIN
.uk-form
  =form_tag @request do
    %fieldset
      .uk-form-row
        = text_field_tag :email, nil, placeholder: "Your email address"
      .uk-form-row
        = submit_tag "Request access", class: "uk-button"
      .uk-form-row
        = link_to "If you already have an account with a pin you can login here", "http://aws.joelhill-ische.com/login"
  %br
  .uk-panel.uk-panel-box
    Note: You will receive an e-mail address with your username (email address) and PIN.
  %br
  .uk-panel.uk-panel-box
    As just a preview here is the GitLab repository that you may be interested in
    = link_to "(click here)", "https://gitlab.com/joelhillische/resume/"
