!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Resume
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .uk-container.uk-container-center
      - if flash[:notice] 
        .uk-alert.uk-alert-success
          = "#{flash[:notice]}"
        %br
      - if flash[:alerts]
        - flash[:alerts].each do |alert|
          .uk-alert.uk-alert-danger
            = "#{alert}"
          %br
      - if flash[:alert]
        .uk-alert.uk-alert-danger
          = "#{flash[:alert]}"
        %br
      - if current_user
        .uk-text-center
          .uk-panel.uk-panel-box
            = "Welcome #{current_user.email}"
            = link_to "Log out", session_path(current_user), method: "delete"
      = yield
